.splide__arrow--prev {
    background-image: url('../assets/img/seta_vermelha1.png');
    background-size: cover;
    width: 30px;
    height: 30px;
}

.splide__arrow--next {
    background-image: url('../assets/img/seta_vermelha2.png');
    background-size: cover;
    width: 30px;
    height: 30px;
}

.splide__arrow--prev>svg {
    display: none;
}

.splide__arrow--next>svg {
    display: none;
}

.splide__pagination__page.is-active {
    background-color: #f6a442 !important;
}

