.swiper-button-prev::after {
    content: '';
}
.swiper-button-next::after {
    content: '';
}
.swiper-comoajudar>.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url('../../assets/img/seta_verde1.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    z-index: 999;
}

.swiper-comoajudar>.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url('../../assets/img/seta_verde2.png');
    background-size: cover;
    width: 30px;
    height: 30px;
}


.swiper-pagination-bullet-active {
    background-color: #f6a442 !important;
}

